{% extends 'base.html' %}

{% block title %}Teste - GFrota{% endblock %}

{% block content %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Painel de Teste</h1>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Integração do SB Admin 2</h6>
            </div>
            <div class="card-body">
                <p>Se você está vendo este texto dentro de um cartão branco, com a barra lateral azul à esquerda e a barra superior no topo, significa que o <strong>Django carregou perfeitamente os arquivos estáticos (CSS/JS)</strong> e a herança de templates funcionou!</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
